{% extends "base.html" %}

{% block page_content %}
    <a href="{{ url_for('get_list') }}" class="btn btn-primary btn-lg pull-right" role ="button">返回</a>
    <br><br>

    <h1>用户信息</h1>
    <br>
    <div>
        <span>用户名：</span>
        <span>{{ user.username }}</span>
    </div>
    <br>
    <div>
        <span>昵称：</span>
        <span>{{ user.nick_name }}</span>
    </div>

    <br><br>
    <a href="{{ url_for('update_user_info') }}" class="btn btn-info btn-lg pull-left" role ="button">修改</a>

{% endblock %}
